@import "../../vars.css";


.container {
  margin-top: 20vh;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  display: flex;
  align-items: center;
}

.title {
  color: var(--color-title);
  margin-bottom: 20px;
  font-size: 28px;
}



.border {
  border: 3px solid var(--project-imageContainer-background);
  height: 0;
  width: 80px;
  margin-bottom: 15vh;
}