@import "../../vars.css";


.container {
  margin-top: 30px;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* border: 1px solid white; */

}

.title {
  color: var(--color-title);
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 17px;
  display: flex;
  justify-content: center;
}

/*
@media screen and (max-width: 768px) {


  .title {
    margin-left: 20px;
  }

}

 @media screen and (min-width: 768px) and (max-width: 1024px) {
  .title {
    padding-right: 30px;
    margin-left: 30px;
    flex-direction: column;


  }
}

@media screen and (min-width: 1024px) {
  .title {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1024px) {
  .projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;

  }

}

@media screen and (min-width: 1025px) and (max-width: 1300px) {
  .projects {
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .projects {
    justify-content: center;
    width: 100%;

  }
} */