@import "../../vars.css";

:root {
  --link-transitions: 0.2s;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-bottom: 20px;
  color: var(--color-title);
}

.border {
  border: 3px solid var(--project-imageContainer-background);
  height: 0;
  width: 80px;
  margin-bottom: 10vh;
}

.links {
  display: flex;
  /* border: 1px solid black; */
  width: 40vw;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  gap: 8vw;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  cursor: pointer;
}

.github {
  height: 30px;
  transition: var(--link-transitions);
}

.github:hover {
  transform: scale(1.1);
}

.linkedIn {
  height: 40px;
  transition: var(--link-transitions);
}

.linkedIn:hover {
  transform: scale(1.1);
}


.mail {
  height: 30px;
  transition: var(--link-transitions);
}

.mail:hover {
  transform: scale(1.1);

}