@import "../../vars.css";

.navbarWrapper {
  padding-top: 19px;
}

.navbar {
  width: 100%;
  min-height: 30px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

.profileImage {
  margin-left: 30px;
  visibility: hidden;
}


.themeIcon {
  margin-right: 30px;
  border: var(--navbar-links-border);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
}

.workingImage {
  cursor: pointer;
  height: 60px;
}

.moonImage {
  cursor: pointer;
  height: 25px;
}

.sunImage {
  cursor: pointer;
  height: 30px;
}

.links {
  color: var(--color-text);
  background-color: var(--navbar-background-links);
  box-shadow: var(--navbar-links-bs);
  border-radius: 20px;
  padding: 8px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 200px;

}

.links a {
  text-decoration: none;
}

.link {
  cursor: pointer;
  color: var(--color-title);
  /* font-weight: 550; */
  transition: 0.2;
}

.link:hover {
  color: var(--project-imageContainer-background);
}

.navbarVisible {
  transform: translateY(0%)
}

.navbarHidden {
  transform: translateY(-100%);
}

.themeSvg {
  border: 2px solid white;
  height: 299px;
  width: 232px;
}

.moonIcon {
  border: 1px white solid;
  height: 30px;

}