@import "../../vars.css";

.navbarWrapper {
  padding-top: 19px;
}

.navbar {
  width: 100%;
  min-height: 30px;
  transition: transform 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

}

.workingImage {
  /* border: 1px solid white; */
  cursor: pointer;
  height: 60px;
  /* width: 50px; */
}

.moonImage {
  cursor: pointer;
  height: 40px;
}

.links {
  color: var(--color-text);
  background-color: #242429;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 8px;
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 200px;
}

.navbarVisible {
  transform: translateY(0%);
}

.navbarHidden {
  transform: translateY(-100%);
}

.themeSvg {
  border: 2px solid white;
  height: 299px;
  width: 232px;
}

.moonIcon {
  border: 1px white solid;
  height: 30px;

}