@import "./vars.css";


.AppContainer {
  background-color: var(--color-background-container);
  height: 10000px;
  display: flex;
  justify-content: center;

}

.app {
  height: 100%;
  width: 91%;
  background: var(--color-body-background);
  box-shadow: var(--color-background-container-bs);
  /* max-width: 1200px; */
}

.content {}

@media screen and (min-width: 1024px) {
  .app {
    width: 78%;
  }
}