@import "./vars.css";

html {
  scroll-behavior: smooth;
}


.AppContainer {
  background-color: var(--color-background-container);
  /* height: ; */
  display: flex;
  justify-content: center;

}

.app {
  height: 100%;
  width: 91%;
  background: var(--color-body-background);
  box-shadow: var(--color-background-container-bs);
  max-width: 1200px;
}

.content {
  /* border: 1px solid whitesmoke; */
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .app {
    width: 78%;
  }
}