:root {
  --color-title: #ffffff;
  --color-text: #a3a3a3;
  --color-body-background: #18181B;
  --color-background-container: #000000;
  --color-background-container-bs: 0px 0px 1px rgb(230, 230, 230);

  /* fonts */
  /* --default-roboto: "Roboto"; */
  --default-font: "Roboto";

  /* navbar */
  --navbar-background-links: #292929;
  --navbar-links-bs: 1px 1px 3px 3px rgba(255, 255, 255, 0.082);
  --navbar-links-border: 1px solid rgb(71, 71, 71);

  /* margins */
  --space-left: 20px;

  /* Projects */
  --project-container-background: #2d2d332f;
  --project-container-background-hover: #2d2d3356;
  --project-box-shadow: 0px 0px 0px black;
  --project-box-shadow-hover: 0px 0px 0px black;
  --project-container-borderBottom: 1px solid rgba(253, 253, 253, 0.027);
  --project-source-background: rgb(79, 87, 87);
  --project-source-background-hover: rgb(58, 70, 70);
  --project-source-bs: 0.3px 2px 5px rgba(224, 224, 224, 0.185);

  --project-image-border: 1px solid rgba(255, 255, 255, 0.219);
  --project-content-background: rgba(36, 36, 36, 0.527);
  --project-imageContainer-background: rgba(135, 208, 218, 0.993);

  /* skills */
  --skills-background: rgb(42, 49, 49);
  --skills-color: rgba(128, 255, 244, 0.836);
}


/* Light mode */
[data-theme='light'] {
  --color-title: #27272a;
  --color-text: #575757;
  --color-body-background: #fafafa;
  --color-background-container: #ffffffec;
  --color-background-container-bs: 0px 1px 0.8px rgb(43, 43, 43);

  /* fonts */
  --default-roboto: "Roboto";

  /* navbar */
  --navbar-background-links: #ffffff;
  --navbar-links-bs: 1px 1px 1px 1px rgba(0, 0, 0, 0.075);
  --navbar-links-border: 1px solid rgba(199, 191, 191, 0.418);

  /* margins */
  --space-left: 20px;

  /* Projects */
  --project-container-background: #ffffff2f;
  --project-box-shadow: 0.1px 0.1px 1px black;
  --project-box-shadow-hover: 0.4px 0.4px 3px black;
  --project-container-background-hover: #ffffff;
  --project-container-borderBottom: 1px solid rgba(63, 63, 63, 0.116);
  --project-source-background: #ffffff88;
  --project-source-background-hover: #ffffff;
  --project-source-bs: 0.3px 2px 5px rgba(0, 0, 0, 0.623);

  --project-image-border: 1px solid rgba(21, 77, 73, 0.836);
  --project-content-background: #f3f3f386;
  --project-imageContainer-background: #6c76ac;


  /* skills */
  --skills-background: rgb(157, 214, 214);
  --skills-color: rgba(21, 77, 73, 0.836);

}