:root {
  --color-title: #ffffff;
  --color-text: #a3a3a3;
  --color-body-background: #18181B;
  --color-background-container: #000000;
  --color-background-container-bs: 0px 0px 1px rgb(230, 230, 230);
  --navbar-background-links: #242429;

  /* fonts */
  --default-roboto: "Roboto";

  /* navbar */
  --navbar-background-links: #292929;
  --navbar-links-border: 1px solid rgb(71, 71, 71);

  /* margins */
  --space-left: 20px;

  /* Projects */
  --project-container-background: #2d2d332f;
  --project-container-background-hover: #2d2d3356;
  --project-box-shadow: 0px 0px 0px black;
  --project-box-shadow-hover: 0px 0px 0px black;
  --project-container-borderBottom: 1px solid rgba(253, 253, 253, 0.027);
  --project-source-background: rgb(42, 49, 49);
  --project-source-background-hover: rgb(58, 70, 70);
  --project-image-border: 1px solid rgba(255, 255, 255, 0.219);

  /* skills */
  --skills-background: rgb(42, 49, 49);
  --skills-color: rgba(128, 255, 244, 0.836);
}


/* Light mode */
[data-theme='light'] {
  --color-title: #27272a;
  --color-text: #575757;
  --color-body-background: #faf9f9;
  --color-background-container: #ffffff;
  --color-background-container-bs: 0px 1px 0.5px rgb(17, 17, 17);

  /* navbar */
  --navbar-background-links: #f3f3f3;
  --navbar-links-border: 1px solid rgb(199, 191, 191);

  /* margins */
  --space-left: 20px;

  /* Projects */
  --project-container-background: #ffffff2f;
  --project-box-shadow: 0.1px 0.1px 1px black;
  --project-box-shadow-hover: 0.4px 0.4px 3px black;
  --project-container-background-hover: #ffffff;
  --project-container-borderBottom: 1px solid rgba(63, 63, 63, 0.116);
  --project-source-background: rgb(226, 226, 226);
  --project-source-background-hover: rgb(207, 207, 207);
  --project-image-border: 1px solid rgba(21, 77, 73, 0.836);


  /* skills */
  --skills-background: rgb(157, 214, 214);
  --skills-color: rgba(21, 77, 73, 0.836);

}