@import "../../vars.css";

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;

}

.content {
  padding-left: 3vw;
}


.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2vw;
  /* border: 10px solid white; */
  overflow: hidden;
  flex-shrink: 0;
}

.gifContainer img {
  height: 200px;
}

.title {
  color: var(--color-title);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.name {
  color: var(--project-imageContainer-background);
}

.description {
  color: var(--color-text);
  margin-bottom: 20px;
  word-spacing: 1.2px;
  font-size: 19px;
  max-width: 600px;
  display: flex;
  justify-content: center;

}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  /* margin-left: 45px; */
}

.link {
  cursor: pointer;
}

.github {
  height: 25px;
}

.linkedIn {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    margin-top: vh;

  }

  .content .title {
    margin-top: 5vh;
    text-align: center;
  }

  .content {
    padding-left: 0px;
    /* border: 1px solid white; */
  }

  .description {
    text-align: center;
  }

  .gifContainer {
    margin-right: 0px;
  }

}

@media screen and (max-width: 420px) {
  .content .title {
    margin-top: 5vh;
    text-align: center;
  }

  .container {
    margin-top: 3vh;
  }


}