@import "../../vars.css";

.container {
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10%;

}

.content {
  /* border: 1px solid wheat; */
}

.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* border: 1px solid black; */
  overflow: hidden;
  flex-shrink: 0;
}

.gifContainer img {
  height: 200px;
}

.title {
  color: var(--color-title);
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

.name {
  color: var(--project-imageContainer-background);
}

.description {
  color: var(--color-text);
  margin-bottom: 20px;
  word-spacing: 1.2px;
  font-size: 17px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  /* border: 1px solid wheat; */

}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
  /* margin-left: 45px; */
}

.link {
  cursor: pointer;
}

.github {
  height: 25px;
}

.linkedIn {
  height: 40px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;

  }

  .title {
    margin-top: 10vh;
    text-align: center;
  }

}